<!DOCTYPE html>
<html lang="en-US">
<body>
	<h3>Simple Currency Converter App</h3>
	<div ng-app="converter" ng-controller="converterCtrl">
		<table>
		<form action="" method="POST" role="form">
			<tr>
				<td><label>From: </label></td>
				<td><select ng-model="fromType" required data-ng-change="convertFunction()" ng-options="x for (x, y) in rates track by y">
				<option value="">Select</option>
			</select></td>
			<td><input type="number" placeholder="Enter a value" data-ng-model="fromValue" data-ng-change="convertFunction()"></td>
		</tr>
		<tr>
			<td><label>To: </label></td>
			<td><select ng-model="toType" required data-ng-change="convertFunction()" ng-options="x for (x, y) in rates track by y">
				<option value="">Select</option>
			</select></td>
			<td><input type="text" placeholder="Enter a value" data-ng-model="toValue" data-ng-change="convertFunction()"> </td>
		</form>
	</table>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="currencyConverter.js" type="text/javascript"></script>
</body>
</html>